.by-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%,#ff136f);
    color: #fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: blue;
    padding: 5px;
}
.cat1,.cat2,.cat3{
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card footer{
    background-color: orange;
    border-top: none;
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}